:host {
  width: 100%;
  position: fixed;
  top: 0;
  transition: transform .4s;
  transition-timing-function: cubic-bezier(1, 0, 0.3, 0.52);
  transform: translateY(0);
}

:host[isHidden] {
  transform: translateY(-101%);
}

nav {
  width: 100%;
}

