:host {
  display: inline-block;
  padding: 10px;
  outline: 0.3px solid $stroke-color;
  border-color: $color-primary;
  width: 100px;
  white-space: nowrap;
  border-radius: 2px;
  vertical-align: middle;
}

:host([type=checkbox]),
:host([type=radio]) {
  width: 16px;
  height: 16px;
  cursor: pointer;
  padding: 0;
  color: $color-primary;

  .options-parent {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    border-color: inherit;
    border-radius: 2px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: inherit;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: inherit;
      box-shadow: inset 0.3px 0.3px 0.7px #fff;
    }
  }
  
  .options-inner {
    width: 100%;
    height: 100%;
    border: 2px solid currentColor;
    box-sizing: border-box;
    position: relative;
    border-radius: inherit;

    &::before {
      content: '';
      position: absolute;
      border: 0.3px solid $stroke-color;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      box-shadow: 0.3px 0.3px 0.7px #ffffff;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      right: 0px;
      top: 0;
      bottom: 0;
    }
  }
}
:host([type=radio]) {
  .options-parent {
    border-radius: inherit;
  }
}
:host([type=radio]) {
  border-radius: 50%;

  .options-inner {

    &::before,
    &::after {
      border-radius: inherit;
    }
  }
}

// Hover designs
:host([type=radio]:not([disabled]):hover),
:host([type=checkbox]:not([disabled]):hover) {
  .options-parent:before {
    opacity: 0.1;
    background: currentColor;
    outline: 4px solid currentColor;
  }
}

:host([type=radio]:not([disabled]):active),
:host([type=checkbox]:not([disabled]):active) {
  .options-parent:before {
    opacity: 0.3;
    background: currentColor;
    outline: 4px solid currentColor;
  }
}

// Checkbox Checked designs
:host([type=checkbox][checked]) .options-parent {
  .options-inner {
    color: inherit;

    &::before,
    &::after {
      border: none;
      box-shadow: none;
    }

    &::before {
      background-color: currentColor;
    }
  }
}

:host .check svg {
  display: none;
}
:host([type=checkbox][checked]) .check svg {
  display: block;
}

:host([type=checkbox][checked]) .check {
  position: absolute;
  width: 80%;
  height: 100%;
  margin-left: 10%;
  color: #fff;

  svg {
    width: 100%;
    height: 100%;
  }
}

:host([type=radio][checked]) .check {
  position: absolute;
  display: block;
  width: 40%;
  height: 40%;
  border-radius: inherit;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: inherit;
  background-color: currentColor;
  border: 0.3px solid #595959;
  box-shadow: inset 0.5px 0.5px 0.7px #FFFFFF;
}

:host([type=checkbox][disabled]),
:host([type=radio][disabled]) {
  .options-parent {
    color: rgba(0, 0, 0, .25);
  }
  .options-inner {
    border-color: rgba(0, 0, 0, .25);
  }
}