$color-primary: #293FE6;

$phone: 'only screen and (max-width: 442px)';
$tablet: 'only screen and (max-width: 768px)';
$pad: 'only screen and (max-width: 1024px)';
$laptop: 'only screen and (max-width: 1366px)';
$large: 'only screen and (max-width: 1600px)';
$mouse: '(pointer: fine)';
$touch: '(pointer: coarse)';