:host {
  background: $color-primary;
  height: 45px;
  display: inline-block;
  color: #fff;
  border-radius: $radius;
  font-size: $font-size;
  padding: 0 14px;
  font-weight: bold;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}

:host([disabled]) {
  background-color: #BFBFBF;
  color: #434343;
}

button {
  background: transparent;
  border: 0;
  height: 100%;
  width: 100%;
  color: inherit;
  font: inherit;
  cursor: inherit;
}

button:focus-visible {
  outline: none;
}