:host {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: $color-primary;
  display: inline-block;

  color: #ffffff;
  border-radius: $radius;
  font-size: 16px;
  padding: 0.6em 20px;
  font-weight: bold;
  font-family: system-ui;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  text-align: center;
  box-shadow:
    inset 1px 1px 2px rgb(255 255 255 / 64%),
    inset -1px -1px 2px rgb(0 0 0 / 25%),
    inset 0 0 0px 1px rgb(0 0 0 / 25%);

  div {
    display: inline-table;
    height: 100%;
    width: 100%;
  }

  div>slot {
    display: table-cell;
    vertical-align: middle;
    line-height: 1em;
    position: relative;
  }
}

@media (pointer: fine) {
  :host(:hover:not([disabled])) {
    box-shadow:
      inset 1px 1px 2px rgb(255 255 255 / 65%),
      inset -1px -1px 2px rgb(0 0 0 / 25%),
      inset 0 0 0px 1px rgb(0 0 0 / 25%),
      inset 0 0 0 128em hsla(0 0% 75% / 16%);
  }

  :host(:focus:not([disabled])) {
    outline: 1px solid var(--sui-focus-outline-color);
  }
}

:host(:hover[disabled]) {
  cursor: default;
}

:host([disabled]) {
  box-shadow:
    inset -1px -1px 2px rgb(255 255 255 / 65%),
    inset 1px 1px 2px rgb(0 0 0 / 25%),
    inset 0 0 0px 1px rgb(0 0 0 / 25%);
  filter: grayscale(1) contrast(0.25) invert(1) brightness(1.3);
}

:host([hidden]) {
  display: none !important;
}

:host(:active:not([disabled])) {
  box-shadow:
    inset 0 0 0px 1px hsla(0 0% 50% / 25%),
    inset 0 1px 3px rgba(0 0 0 / 80%),
    inset -1px -1px 1px rgb(255 255 255 / 25%);
}